<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8"/>
	<meta name="Description" content="{$zh.config.description}" />
	<meta name="keywords" content="{$zh.config.keywords}" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta name="applicable-device" content="pc,mobile"/>
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
	<title>japan_travel</title>
    <pagejs/>
	<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css"/>
	<link rel="stylesheet" href="__TEMPLATE__/common/css/list.css"/>
    <link rel="stylesheet" href="__TEMPLATE__/common/css/base2.css"/>
	<link rel="stylesheet" href="__TEMPLATE__/common/css/jquery.ad-gallery.css"/>

	<!--[if lt IE 9]>
	<script src="__TEMPLATE__/common/scripts/html5.js"></script>
	<![endif]-->
</head>
<body id="japan_travel">
	<!-- 头部 -->
        <include file='__TEMPLATE__/common/inc/__WEBID___header.lbi'/>
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
    系统繁忙，联系管理员
	</div>	
</body>
</html>