<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="applicable-device" content="pc,mobile">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
<title>标题标题</title>
<meta name="Description" content="描述描述" />
<meta name="keywords" content="关键字 关键字" />

<link rel="icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css">
<link rel="stylesheet" href="__TEMPLATE__/common/css/about.css">
<link rel="stylesheet" href="__TEMPLATE__/common/css/mobile.css">
<pagejs />

<!--[if lt IE 9]>
<script src="/common/scripts/html5.js"></script>
<![endif]-->
</head>
<body id="jp_visa">
<!-- 头部 -->
<include file="__TEMPLATE__/common/inc/all_header.lbi" />
<!-- //头部 -->
<!-- 中间内容 -->
<div id="content">

<div class="main_content">
<div class="wrapper fix">
<!-- 路径 -->
<div class="path">
<a href="/">首页</a> &gt; <span>签证VISA</span>
</div>
<!-- //路径 -->
<!-- jrpass content -->
<div>
<p class="jr_ttl"><img src="__TEMPLATE__/common/images/jpvisa/ttl_01.jpg" alt=""></p>

<div class="jr_cate_one">
<div class="jr_one_left">
<h2>上海送签</h2>
<!--<div class="img">
<img alt="" src="__TEMPLATE__/common/images/jpvisa/jr_visa_img_01.jpg">
</div>-->
</div>
<div class="jr_one_right" >
<table>
<tbody>
<tr>
<th class="bdb_line">赴日个人旅游签证（单次）</th>
<td class="bdb_line">500 元/人</td>
</tr>
<tr>
<th class="bdb_line">赴日个人旅游签证（三年多次）</th>
<td class="bdb_line">1300 元/人</td>
</tr>
<tr>
<th class="bdb_line">产品编号</th>
<td class="bdb_line">META-VISA-15001</td>
</tr>
<tr>
<th class="bdb_line">咨询热线</th>
<td class="bdb_line">021-1111-1111</td>
</tr>
<tr>
<th class="bdb_line">注意事项</th>
<td class="bdb_line">请提前3个礼拜将办理签证所需材料交至我社，详细资料请垂询。</td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="jr_cate_one">
<div class="jr_one_left" >
<h2>重庆送签</h2>

</div>
<div class="jr_one_right" >
<table>
<tbody>
<tr>
<th class="bdb_line">赴日个人旅游签证（单次）</th>
<td class="bdb_line">500 元/人</td>
</tr>
<tr>
<th class="bdb_line">收签范围</th>
<td class="bdb_line">云贵川渝地区</td>
</tr>
<tr>
<th class="bdb_line">咨询热线</th>
<td class="bdb_line">028-1111-1111</td>
</tr>
<tr>
<th class="bdb_line">注意事项</th>
<td class="bdb_line">请提前3个礼拜将办理签证所需材料交至我社，详细资料请垂询。</td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="jr_cate_one">
<div class="jr_one_left" >
<h2>青岛送签</h2>

</div>
<div class="jr_one_right" >
<table>
<tbody>
<tr>
<th class="bdb_line">赴日个人旅游签证（单次）</th>
<td class="bdb_line">800 元/人</td>
</tr>
<tr>
<th class="bdb_line">赴日个人旅游签证（多次）</th>
<td class="bdb_line">1200 元/人</td>
</tr>
<tr>
<th class="bdb_line">咨询热线</th>
<td class="bdb_line">0532-1111-1111</td>
</tr>
<tr>
<th class="bdb_line">注意事项</th>
<td class="bdb_line">请提前3个礼拜将办理签证所需材料交至我社，详细资料请垂询。</td>
</tr>
</tbody>
</table>

</div>
</div>
</div>
<!-- //jrpass content -->
</div>
</div>

</div>
<!-- //中间内容 -->
<!-- 底部 -->
<include file="__TEMPLATE__/common/inc/all_footer.lbi" />
<!-- //底部 -->
<script src="__TEMPLATE__/common/scripts/jsloader.js" type="text/javascript"></script>
<script>

</script>
</body>
</html>