<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta name="applicable-device" content="pc,mobile">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>标题标题</title>
	<meta name="Description" content="描述描述" />
	<meta name="keywords" content="关键字 关键字" />

	<link rel="icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/about.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/mobile.css">
    <pagejs />
	<!--[if lt IE 9]>
	<script src="__TEMPLATE__/common/scripts/html5.js"></script>
	<script src="__TEMPLATE__/common/scripts/respond.min.js"></script>
	<![endif]-->
</head>
<body id="jr_pass">
	<!-- 头部 -->
        <include file="__TEMPLATE__/common/inc/all_header.lbi" />
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
		
			<div class="main_content">
				<div class="wrapper fix">
						<!-- 路径 -->
						<div class="path">
							<a href="/">首页</a> &gt; <span>JR RAIL PASS</span>
						</div>
						<!-- //路径 -->
					<!-- jrpass content -->
					<div>
						<p class="jr_ttl"><img src="__TEMPLATE__/common/images/jrpass/ttl_01.jpg" alt=""></p>
						<nav class="jr_nav">
							<ul class="fix">
								<li><a href="">JR 全日本</a></li>
								<li><a href="">四国 JR Shikoku</a></li>
								<li><a href="">JR 九州</a></li>
								<li><a href="">中部 JR Central</a></li>
								<li><a href="">北海道 JR Hokkaido</a></li>
								<li><a href="">关西 JR West</a></li>
							</ul>
						</nav>
						
						<div id="all_jp" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>JR 全日本</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_01.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="bdb_line" rowspan="3">普通车</td>
											<td>7日券</td>
											<td>1600</td>
											<td>800</td>
										</tr>
										<tr>
											<td>14日券</td>
											<td>2550</td>
											<td>1275</td>
										</tr>
										<tr>
											<td class="bdb_line">21日券</td>
											<td class="bdb_line">3270</td>
											<td class="bdb_line">1635</td>
										</tr>
										<tr>
											<td rowspan="3">软席</td>
											<td>7日券</td>
											<td>2140</td>
											<td>1070</td>
										</tr>
										<tr>
											<td>14日券</td>
											<td>3460</td>
											<td>1730</td>
										</tr>
										<tr>
											<td>21日券</td>
											<td>4500</td>
											<td>2250</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="shikoku" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>四国 JR Shikoku</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_02.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="4">四国地区</td>
											<td>2日券</td>
											<td>350</td>
											<td>175</td>
										</tr>
										<tr>
											<td>3日券</td>
											<td>400</td>
											<td>200</td>
										</tr>
										<tr>
											<td>4日券</td>
											<td>440</td>
											<td>220</td>
										</tr>
										<tr>
											<td>5日券</td>
											<td>540</td>
											<td>270</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="kyushu" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>JR 九州</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_03.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="4">全九州</td>
											<td>3日券</td>
											<td>825</td>
											<td>415</td>
										</tr>
										<tr>
											<td>5日券</td>
											<td>990</td>
											<td>495</td>
										</tr>
										<tr>
											<td>3日券</td>
											<td>470</td>
											<td>235</td>
										</tr>
										<tr>
											<td>5日券</td>
											<td>550</td>
											<td>275</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="central" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>中部 JR Central</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_04.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<td>高山北陆地区</td>
										<td>5日券</td>
										<td>740</td>
										<td>370</td>
									</tbody>
								</table>
							</div>
						</div>
						<div id="hokkaido" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>北海道 JR Hokkaido</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_05.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="4">全九州</td>
											<td>3日券</td>
											<td>910</td>
											<td>455</td>
										</tr>
										<tr>
											<td>5日券</td>
											<td>1210</td>
											<td>605</td>
										</tr>
										<tr>
											<td>7日券</td>
											<td>1320</td>
											<td>660</td>
										</tr>
										<tr>
											<td>任选4日券</td>
											<td>1210</td>
											<td>605</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="west" class="jr_cate_one">
							<div class="jr_one_left">
								<h2>关西 JR West</h2>
								<div class="img">
									<img alt="" src="__TEMPLATE__/common/images/jrpass/jr_pass_img_06.jpg">
								</div>
							</div>
							<div class="jr_one_right">
								<table>
									<thead>
										<tr>
											<th>类别</th>
											<th>天数</th>
											<th>成人</th>
											<th>儿童</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="bdb_line" rowspan="4">关西地区</td>
											<td>1日券</td>
											<td>120</td>
											<td>60</td>
										</tr>
										<tr>
											<td>2日券</td>
											<td>240</td>
											<td>120</td>
										</tr>
										<tr>
											<td>3日券</td>
											<td>290</td>
											<td>145</td>
										</tr>
										<tr>
											<td class="bdb_line">4日券</td>
											<td class="bdb_line">350</td>
											<td class="bdb_line">175</td>
										</tr>
										<tr>
											<td class="bdb_line">关西广域</td>
											<td class="bdb_line">5日券</td>
											<td class="bdb_line">470</td>
											<td class="bdb_line">235</td>
										</tr>
										<tr>
											<td class="bdb_line">山阳山阴地区</td>
											<td class="bdb_line">7日券</td>
											<td class="bdb_line">1045</td>
											<td class="bdb_line">520</td>
										</tr>
										<tr>
											<td class="bdb_line">关西广岛地区</td>
											<td class="bdb_line">5日券</td>
											<td class="bdb_line">715</td>
											<td class="bdb_line">360</td>
										</tr>
										<tr>
											<td class="bdb_line">广岛山口地区</td>
											<td class="bdb_line">5日券</td>
											<td class="bdb_line">605</td>
											<td class="bdb_line">303</td>
										</tr>
										<tr>
											<td class="bdb_line">关西北陆</td>
											<td class="bdb_line">7日券</td>
											<td class="bdb_line">825</td>
											<td class="bdb_line">415</td>
										</tr>
										<tr>
											<td class="bdb_line">北陆地区</td>
											<td class="bdb_line">4日券</td>
											<td class="bdb_line">275</td>
											<td class="bdb_line">140</td>
										</tr>
										<tr>
											<td class="bdb_line">山阴冈山地区</td>
											<td class="bdb_line">4日券</td>
											<td class="bdb_line">250</td>
											<td class="bdb_line">125</td>
										</tr>
										<tr>
											<td>伊势熊野地区</td>
											<td>5日券</td>
											<td>580</td>
											<td>290</td>
										</tr>
									</tbody>
								</table>
							</div>
                            
						</div>
                        <!--<p style="color:red;font-size:18px; text-align: right; margin-top:10px;">以上价格可能会因汇率的变化而有所调整，敬请谅解！</p>-->
                        <p class="jr_pass_hint">以上价格可能会因汇率的变化而有所调整，敬请谅解！</p>

					</div>
					<!-- //jrpass content -->
				</div>
			</div>

	</div>
	<!-- //中间内容 -->
	<!-- 底部 -->
        <include file="__TEMPLATE__/common/inc/all_footer.lbi" />
	<!-- //底部 -->
	<script src="__TEMPLATE__/common/scripts/jsloader.js" type="text/javascript"></script>
	<script src="__TEMPLATE__/common/scripts/jrpass.js" type="text/javascript"></script>
	<script>
		$(function(){
            var webid = '{$webid}';
            if(webid == '6'){
                navBannerOn(3);
            }else{
                navBannerOn(4);
            }
			
		});
	</script>
</body>
</html>