<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="applicable-device" content="pc,mobile">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
    <if value="$webid eq 1">
     <title>中国站点标题</title>
     <meta name="description" content="中国站点标题描述" />
     <meta name="keywords" content="中国站点标题关键字" />
     <elseif value="$webid eq 2"> 
     <title>上海站点标题</title>
     <meta name="description" content="上海站点标题描述" />
     <meta name="keywords" content="上海站点标题关键字" />
     <elseif value="$webid eq 3"> 
     <title>北京站点标题</title>
     <meta name="description" content="北京站点标题描述" />
     <meta name="keywords" content="北京站点标题关键字" />
     <elseif value="$webid eq 6"> 
    <title>其他站点标题</title>
     <meta name="description" content="其他站点标题描述" />
     <meta name="keywords" content="其他站点标题关键字" />
    </if>

	<link rel="icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/list.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/mobile.css">
    <style>
        #error{color:red;}
    </style>

	<!--[if lt IE 9]>
	<script src="__TEMPLATE__/common/scripts/html5.js"></script>
	<![endif]-->
</head>
<body id="login">
	<!-- 头部 -->
        <include file="__TEMPLATE__/common/inc/all_header.lbi"/>
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
		
			<div class="main_content">
				<div class="wrapper fix">
						<!-- 路径 -->
						<div class="path">
							<a href="/">首页</a> &gt; <span>代理商登录</span>
						</div>
						<!-- //路径 -->
					<!-- jrpass content -->
					<div class="login_content">
						<h2>代理商登录</h2>
                        
                        <form name="b2blogin" action="" method="post">
						<div class="login_area_detail">
                            <div id="error"></div>
							<div class="username"><i></i><em><input name="b2busername" type="text" class="angent_input" id="user1" placeholder=""></em></div>
							<div class="password"><i></i><em><input name="" type="text" id="text" class="angent_input" ><input name="b2bpassword" type="password" id="pass1" class="angent_input" placeholder="" style="display:none;"></em></div>
							<div class="veritxt"><i></i><em><input name="code" type="text" id="val1" class="angent_input" placeholder=""></em></div>
							<div class="verification">
                                <span class="ver_area"><img src="__WEB__?a=Index&c=B2b&m=code" class="code" style="cursor: pointer;float:left;" onclick="this.src='__WEB__?a=Index&c=B2b&m=code&'+Math.random()"/></span>
                                <a href="javascript:void(0);" onclick="$('.code').trigger('click')">看不清，换一个</a>
                            </div>
                            <a href="#" class="login_btn" onclick="javascript:document.b2blogin.submit();">登 录</a>
							<!--<input type="submit" value="登 录" class="login_btn" onclick="javascript:document.b2blogin.submit();" />-->
                            <input type="hidden" name="http_referer" value="{$http_referer}" />
							<a class="agent_btn" href="{$urlroot}/agent.html">代理商加盟</a>
						</div>
                        </form>
					</div>
					<!-- //jrpass content -->
				</div>
			</div>

	</div>
	<!-- //中间内容 -->
	<!-- 底部 -->
        <include file="__TEMPLATE__/common/inc/all_footer.lbi" />
	<!-- //底部 -->
	<script src="__TEMPLATE__/common/scripts/jsloader.js" type="text/javascript"></script>
    <zhjs />

    <script>
    
        $(function(){
            var err = "{$err}";
            if( err ){
                $("div#error").html(err)
                setTimeout(function(){$("div#error").html("")},2000);
            }
        })
    
    </script>
    
</body>
</html>