<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta name="applicable-device" content="pc,mobile">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
	<title>标题标题</title>
	<meta name="Description" content="描述描述" />
	<meta name="keywords" content="关键字 关键字" />

	<link rel="icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/about.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/mobile.css">
	<pagejs />
	<!--[if lt IE 9]>
	<script src="__TEMPLATE__/common/scripts/html5.js"></script>
	<script src="__TEMPLATE__/common/scripts/respond.min.js"></script>
	<![endif]-->
</head>
<body id="about">
	<!-- 头部 -->
		<include file="__TEMPLATE__/common/inc/all_header.lbi" />
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
		
			<div class="main_content">
				<div class="wrapper fix" style="position:relative;">
						<!-- 路径 -->
						<div class="path">
							<a href="/">首页</a> &gt; <span>关于我们</span> &gt; <span>联系我们</span>
						</div>
						<!-- //路径 -->
					<!-- 关于页面左侧 -->
					<div class="about_left">
						<ul>
							<li><a href="company.html">公司简介</a></li>
							<li class="on"><a href="#">联系我们</a></li>
							<li><a href="law.html">法律声明</a></li>
						</ul>
					</div>
					<!-- //关于页面左侧 -->
					<!-- 关于页面右侧 -->
					<div class="about_right">
						<div class="about_right_content">
							<h2 class="about_ttl">联系我们</h2>
							
							<div class="about_contact_content fix">
								<section>
									<h3><strong>北京</strong>总部</h3>
									<address class="about_contact_detail  heightLine-1">
										<ul>
											<li class="address">地址地址地址<a class="go_map" href="http://j.map.baidu.com/" target="_blank">[查看地图]</a></li>
											<li class="phone">010-1111-1111</li>
											<li class="mail"><a href="mailto:outbound@his-china.com">outbound@his-china.com</a></li>
											<li class="qq">
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq1</a>
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq2</a>
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq3</a>
											</li>
											<li class="time">周一~周五 9:00～18:00</li>
										</ul>
									</address>
									<p class="img">
										<img src="__TEMPLATE__/common/images/about/beijing.jpg" alt="">
									</p>
								</section>
								<section>
									<h3><strong>上海</strong>支店</h3>
									<address class="about_contact_detail  heightLine-1">
										<ul>
											<li class="address">地址地址地址<a class="go_map" href="http://j.map.baidu.com/" target="_blank">[查看地图]</a></li>
											<li class="phone">010-1111-1111</li>
											<li class="mail"><a href="mailto:outbound@his-china.com">outbound@his-china.com</a></li>
											<li class="qq">
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq1</a>
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq2</a>
												<a href="tencent://message/?uin=&apm;Site=text&apm;Menu=yes">qq3</a>
											</li>
											<li class="time">周一~周五 9:00～18:00</li>
										</ul>
									</address>
									<p class="img">
										<img src="__TEMPLATE__/common/images/about/shanghai.jpg" alt="">
									</p>
								</section>
								
							</div>
						</div>
					</div>
					<!-- //关于页面右侧 -->
				</div>
			</div>

	</div>
	<!-- //中间内容 -->
	<!-- 底部 -->
		<include file="__TEMPLATE__/common/inc/all_footer.lbi" />
	<!-- //底部 -->
	<script src="__TEMPLATE__/common/scripts/jsloader.js" type="text/javascript"></script>
	<script src="__TEMPLATE__/common/scripts/height-line.js" type="text/javascript"></script>
	<script>
		
	</script>
</body>
</html>