<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="{$zh.config.description}" />
	<meta name="keywords" content="{$zh.config.keywords}" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="applicable-device" content="pc,mobile">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
	<title>代理商加盟</title>
	<link rel="icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="__TEMPLATE__/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/import.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/list.css">
	<link rel="stylesheet" href="__TEMPLATE__/common/css/mobile.css">

	<!--[if lt IE 9]>
	<script src="__TEMPLATE__/common/scripts/html5.js"></script>
	<![endif]-->
</head>
<body id="agent">
	<!-- 头部 -->
        <include file="__TEMPLATE__/common/inc/all_header.lbi"/>
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
		
			<div class="main_content">
				
				<!-- 路径 -->
				<div class="wrapper">
					<div class="path">
						<a href="/">首页</a> &gt; <span>代理商加盟</span>
					</div>
				</div>
				<!-- //路径 -->
				<!-- agent content -->
				<div class="agent_content">
					<div class="agent_title_img">
						<div class="wrapper">
							<p>代理商诚邀您的加盟</p>
							<a href="#agent_join_flow">立即申请加盟</a>
						</div>
						
					</div>
					<div class="agent_plan">
						<h2 class="style_01">代理商计划</h2>
						<p>
							近些年来，越来越多的中国人旅游购物！<br />
现已开发多种旅游项目供客人选择。特色酒店、独特的行程安排、给客户独一无二的旅游购物体验。<br />
现在愿意与全国各地的合作伙伴建立长期、持久的合作关系，共同发展、盈利。
						</p>
						<!--<a href="">H.I.S.公司简介</a>-->
					</div>
					<div class="agent_advantage">
						<h2 class="style_01">加盟代理商的优势？</h2>
						<div class="agent_adv_content fix">
							<div class="img flt"><img src="__TEMPLATE__/common/images/agent/agent_advantage_img_01.jpg" alt=""></div>
							<div class="txt frt" style="padding-top: 100px;"><i><img src="__TEMPLATE__/common/images/agent/agent_advantage_list_01.png" alt="1"></i><div>获取覆盖全球的特色旅游产品，扩大业务范围。</div></div>
						</div>
						<div class="agent_adv_content fix">
							<div class="img frt"><img src="__TEMPLATE__/common/images/agent/agent_advantage_img_02.jpg" alt=""></div>
							<div class="txt flt" style="padding-top: 100px;"><i><img src="__TEMPLATE__/common/images/agent/agent_advantage_list_02.png" alt="2"></i><div>针对客户个性化需求定制旅游项目，提升客户体验度，有效提高品牌的影响力。</div></div>
						</div>
						<div class="agent_adv_content fix">
							<div class="img flt"><img src="__TEMPLATE__/common/images/agent/agent_advantage_img_03.jpg" alt=""></div>
							<div class="txt frt" style="padding-top: 100px;"><i><img src="__TEMPLATE__/common/images/agent/agent_advantage_list_03.png" alt="3"></i><div>代理商可获得强大的品牌支持专业的对接人员，同时获得丰厚的利润回报。</div></div>
						</div>
						<div class="agent_adv_content fix">
							<div class="img frt"><img src="__TEMPLATE__/common/images/agent/agent_advantage_img_04.jpg" alt=""></div>
							<div class="txt flt" style="padding-top: 100px;"><i><img src="__TEMPLATE__/common/images/agent/agent_advantage_list_04.png" alt="4"></i><div>无论您是个人还是企业，都可以成为我们的代理商，代理我们的业务。 </div></div>
						</div>
					</div>
					<div class="agent_join_flow" id="agent_join_flow">
						<h2 class="style_01">加盟流程</h2>
						<ul class="agent_join_list">
							<li>
								<i>1</i>
								<img src="__TEMPLATE__/common/images/agent/agent_ico_01.png" alt="">
								<span>致电Meta咨询</span>
							</li>
							<li>
								<i>2</i>
								<img src="__TEMPLATE__/common/images/agent/agent_ico_02.png" alt="">
								<span>具体合作事项商谈</span>
							</li>
							<li>
								<i>3</i>
								<img src="__TEMPLATE__/common/images/agent/agent_ico_03.png" alt="">
								<span>确定合作</span>
							</li>
						</ul>
					</div>
					<div class="agent_contact">
						<h2 class="style_01">联系我们</h2>
						<div class="wrapper">
							<p>如果您希望进一步了解加盟的相关信息，或请通过以下方式联系我们，我们资深的客户经理将为您提供专业、细致的服务。</p>
							<div class="agent_contact_address">
								<dl>
									<dt>北京总社</dt>
									<dd>
										<ul>
											<li class="phone">010-1111-1111</li>
											<li class="email"><a href="mailto:136871204@qq.com">136871204@qq.com</a></li>
											<li class="address">我的住所很神秘不告诉你</li>
										</ul>
									</dd>
								</dl>
								<dl>
									<dt>上海支店</dt>
									<dd>
										<ul>
											<li class="phone">021-2222-2222</li>
											<li class="email"><a href="mailto:136871204@qq.com">136871204@qq.com</a></li>
											<li class="address">我的住所很神秘不告诉你</li>
										</ul>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<!-- //agent content -->
				
			</div>

	</div>
	<!-- //中间内容 -->
	<!-- 底部 -->
        <include file="__TEMPLATE__/common/inc/all_footer.lbi">
	<!-- //底部 -->
	<script src="__TEMPLATE__/common/scripts/jsloader.js" type="text/javascript"></script>
	<script>
		
	</script>
</body>
</html>